<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Class Name</th>
      <th scope="col">
        <a class="text-dark" [routerLink]="['/class/new']" style="margin-right: 30px">Add Class</a>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let class of classes">
      <th scope="row">{{ class.id }}</th>
      <td>{{ class.name }}</td>
      <td>
        <a class="text-dark" [routerLink]="['/class']" (click)="onEditClick(class)" style="margin-right: 30px">Edit</a>
      </td>
    </tr>
  </tbody>
</table>