<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Teacher</th>
      <th scope="col">
        <a class="text-dark" [routerLink]="['/teacher/new']" style="margin-right: 30px">Add Teacher</a>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let teacher of teachers">
      <th scope="row">{{ teacher.id }}</th>
      <td>{{ teacher.name }}</td>
      <td>
        <a class="text-dark" [routerLink]="['/teacher']" (click)="onEditClick(teacher)" style="margin-right: 30px">Edit</a>
        <a class="text-dark" [routerLink]="['/teachers']" (click)="onRemoveClick(teacher)">Remove</a>
      </td>
    </tr>
  </tbody>
</table>
<button class="btn btn-secondary btn-block" [routerLink]="['']">Back to Home Page</button>