<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Class Identifier</th>
      <th scope="col">Options</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>10 D</td>
      <td>
        <a class="text-dark" href="" style="margin-right: 30px">Edit</a>
        <a class="text-dark" href="">Delete</a>
      </td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>12 G</td>
      <td>
        <a class="text-dark" href="" style="margin-right: 30px">Edit</a>
        <a class="text-dark" href="">Delete</a>
      </td>
    </tr>
  </tbody>
</table>