<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Subject</th>
      <th scope="col">
        <a class="text-dark" [routerLink]="['/subject']" style="margin-right: 30px">Add Subject</a>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let subject of subjects">
      <th scope="row">{{ subject.id }}</th>
      <td>{{ subject.name }}</td>
      <td>
        <a class="text-dark" [routerLink]="['/subject']" style="margin-right: 30px">Edit</a>
        <a class="text-dark" href="">Delete</a>
      </td>
    </tr>
  </tbody>
</table>