<h3>Class: {{ schoolClass.name }} {{hasClassAndSubject() ? '| Subject:' : ''}} {{ subject.name }} </h3>
<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Student Name</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let student of schoolClass.students">
      <th>{{ student.id }}</th>
      <td><a class="text-dark" [routerLink]="" (click)="onStudentNameClick(student)">{{ student.name }}</a></td>
    </tr>
  </tbody>
</table>
<button class="btn btn-secondary btn-block" [routerLink]="['']">Back to Home</button>