<div class="form-group">
  <label for="newSubjectId">Id</label>
  <input type="number" class="form-control" id="newSubjectId" placeholder="Subject Id" #subjectIdInput>
  <label for="newSubjectName">New Subject Name</label>
  <input type="text" class="form-control" id="newSubjectName" placeholder="Subject Name" #subjectNameInput>
</div>
<button class="btn btn-secondary" (click)="onCancelClick()" style="margin: 10px">Cancel</button>
<button class="btn btn-primary" (click)="onAddNewSubjectClick(subjectIdInput.value, subjectNameInput.value)" style="margin: 10px">Add
  New Subject</button>