<div class="card" style="width: 18rem;">
  <img src="https://image.shutterstock.com/mosaic_250/4473031/518740741/stock-vector-default-avatar-profile-icon-grey-photo-placeholder-518740741.jpg"
    class="card-img-top" alt="">
  <div class="card-body">
    <h5 class="card-title">Name: {{ student.name }}</h5>
    <p class="card-text">Go to Markbook or choose to Edit the Student.</p>
    <a href="#" class="btn btn-primary" style="margin-right: 10px">Go to Markbook</a>
    <a href="#" class="btn btn-warning">Edit</a>
  </div>
</div>