<!-- Subjects -->
<div class="container-fluid">
  <div class="card mt-3">
    <div class="card-header">
      Subjects
    </div>
    <div class="card-body">
      <h5 class="card-title">Subjects at the School</h5>
      <p class="card-text">You could find the whole information about a cirtain Subject here.</p>
      <a [routerLink]="['/subjects']" class="btn btn-primary">Go to Subjects</a>
    </div>
  </div>
</div>
<!-- Teachers -->
<div class="container-fluid">
  <div class="card mt-3">
    <div class="card-header">
      Teachers
    </div>
    <div class="card-body">
      <h5 class="card-title">Teachers at the School</h5>
      <p class="card-text">All Teachers at the School.</p>
      <a [routerLink]="['/teachers']" class="btn btn-primary">Go to Teachers</a>
    </div>
  </div>
</div>
<!-- Classes -->
<div class="container-fluid">
  <div class="card mt-3">
    <div class="card-header">
      Classes
    </div>
    <div class="card-body">
      <h5 class="card-title">Classes at the School</h5>
      <p class="card-text">You could find the whole information about a cirtain Class here.</p>
      <a [routerLink]="['/classes']" class="btn btn-primary">Go to Classes</a>
    </div>
  </div>
</div>