<!-- Class and Subject Dropdown Menu -->
<div class="container-fluid">
  <div class="btn-group">
    <select (change)="onClassChange($event.target.value)" style="margin-right:10px">
      <option value="0">-- Choose Class --</option>
      <option *ngFor="let cl of classes" value={{cl.id}}>{{cl.name}}</option>
    </select>
    <select (change)="onSubjectChange($event.target.value)">
      <option value="0">-- Choose Subject --</option>
      <option *ngFor="let subject of subjects" value={{subject.id}}>{{subject.name}}</option>
    </select>
  </div>
  <hr>
  <div *ngIf=showWarning class="alert alert-danger" role="alert">
    You should choose both Class and Subject!
  </div>
  <button class="btn btn-secondary" (click)="onChooseClassAndSubjectClick()">Go to Class on the chosen Subject</button>
</div>
<!-- Subjects -->
<div class="container-fluid">
  <div class="card mt-3">
    <div class="card-header">
      Subjects
    </div>
    <div class="card-body">
      <h5 class="card-title">Subjects at the School</h5>
      <p class="card-text">You could find the whole information about a cirtain Subject here.</p>
      <a [routerLink]="['/subjects']" class="btn btn-secondary">Go to Subjects</a>
    </div>
  </div>
</div>
<!-- Teachers -->
<div class="container-fluid">
  <div class="card mt-3">
    <div class="card-header">
      Teachers
    </div>
    <div class="card-body">
      <h5 class="card-title">Teachers at the School</h5>
      <p class="card-text">All Teachers at the School.</p>
      <a [routerLink]="['/teachers']" class="btn btn-secondary">Go to Teachers</a>
    </div>
  </div>
</div>
<!-- Classes -->
<div class="container-fluid">
  <div class="card mt-3">
    <div class="card-header">
      Classes
    </div>
    <div class="card-body">
      <h5 class="card-title">Classes at the School</h5>
      <p class="card-text">You could find the whole information about a cirtain Class here.</p>
      <a [routerLink]="['/classes']" class="btn btn-secondary">Go to Classes</a>
    </div>
  </div>
</div>